@use "/styles/global/partials" as *;


.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;

  background: url("/images/bg.jpg") no-repeat center center;
  background-size: cover;
}

.content_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50rem;
  text-align: center;

  @include laptop {
    width: 40rem;
  }
}

.logo {
  max-width: 25rem;
  margin-bottom: 3rem;

  @include laptop {
    max-width: 20rem;
    margin-bottom: 2rem;
  }
}

.description_primary {
  font-size: 1.4rem;
  font-family: Arial, sans-serif;
  margin-bottom: 2.5rem;

  @include laptop {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }
}

.login_button {
  background-color: color(primary);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: bold;
  padding: 2rem 0;
  border-radius: 5px;
  cursor: pointer;

  @include laptop {
    padding: 1.8rem 0;
    font-size: 1.5rem;
  }
}

.description_secondary {
  font-size: 1.1rem;
  font-family: Arial, sans-serif;
  margin: 1rem 0 2rem;

  @include laptop {
    font-size: 0.8rem;
    margin: 0.8rem 0 1.5rem;
  }
}

.logo_two {
  width: 100%;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
}

.paper {
  background-color: color(dark);
  border-radius: 2rem;
  padding: 1rem;
}