@use "/styles/global/partials" as *;

.hera_version {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 4rem;

  @include hd-screen {
    font-size: 1.4rem;
    margin-bottom: 2.5rem;
  }
}

.form_title {
  font-size: 1.4rem;
  margin-bottom: 1.5rem;

  @include hd-screen {
    font-size: 1.2rem;
  }
}

.single_folder_box {
  display: flex;
  background-color: rgba(165, 165, 165, 0.3);
  padding: 1rem;
  justify-content: space-between;
  width: 35rem;
  margin-bottom: 2rem;
  border-radius: 3px;
  font-size: 1.2rem;

  @include laptop {
    width: 30rem;
  }

  @include tablet {
    font-size: 1rem;
  }

  @include mobile {
    width: 20rem;
  }

  &::placeholder {
    color: color(grey);
  }

  img {
    cursor: pointer;
  }
}

.library_button {
  padding: 1rem;
  background-color: color(primary);
  border-radius: 3px;
  cursor: pointer;

  @include mobile-l {
    padding: 0.7rem;
    font-size: 1rem;
  }
}
